

*{

margin: 0;
padding: 0;
outline: none;
}
body{ font-family: sans-serif;}

header{ 
    
    background:#000; 
    width:100% ;
    height: 60px;  }

a{ text-decoration: none;}

.logo-parent{ 
    width: 10%; 
    height: 100%; 
    float: left; 
    display: flex; 
    align-items: center;}

.logo-parent img { height: 100%; }

.menu {width: 90%; 
    height: 100%; 
    float: right;}
.menu ul {
     height: 100%; 
     display: flex; 
     flex-direction: row;
      list-style: none; 
      justify-content: flex-end;}
.menu ul li { 
    padding: 20px;
     cursor: pointer;}
.menu ul li:hover{ 
    border-bottom: 3px solid #fff;}

.menu ul li a{ 
    color: #fff; 
    cursor: pointer; 
    height: 100%;}
.menu ul li a:hover{ color: #e5dcdc;}

.container-background { 
    display: flex; 
   justify-content: center;
    align-items: center; 
    height: 500px;
    background-image: url(../img/redentor.jpg); 
    background-size: cover; 
    background-color:#000;
    background-color:#aaa;
    background-blend-mode:multiply;}

.container-background div {
    width:80%; 
    text-align: center; }

.container-background div h1 { 
    
    font-family:"teko", sans-serif; 
    font-size: 6em; 
    color:#fff;}

.container-background div a {  
    
    transition:  all .5s ease; 
    color: #fff;
     background: green; 
     padding: 15px 40px; 
     border: 0.5px groove #fff; 
     border-radius: 20px;}

.container-background div a:hover {
     left: 0;
      top: 0; 
      background: #1842c9;}

/*----------------------------------------------------PARALAX-------------------------------------------------*/

.warp {
    
          width: 100%;
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          align-items: center;
      }
.content{
          width: 90%;
          height: 100%;
          padding: 50px 0;
      }
.content h2{

        text-align: center;
        padding: 1em;
        font-family: 'Teko', 'Roboto' sans-serif;
      }

.cards { 
    
    display: flex; 
    justify-content: center; 
    flex-direction:row;}

.card-shadow {
    background: white;
     margin: 0 30px; 
     width: 20%; 
     padding: 50px; 
     text-align: center; 
     min-height: 250px; 
     height: 250px; 
     box-shadow:
     0 2.8px 2.2px rgba(0, 0, 0, 0.034),
     0 6.7px 5.3px rgba(0, 0, 0, 0.048),
     0 12.5px 10px rgba(0, 0, 0, 0.06),
     0 22.3px 17.9px rgba(0, 0, 0, 0.072),
     0 41.8px 33.4px rgba(0, 0, 0, 0.086),
     0 100px 80px rgba(0, 0, 0, 0.12)
;}
 
     
     
   
.card-shadow img { width: 80px;
     }     

     /*----------------------------------------CONTENT-----------------------------------------------*/

.parallax {
height: 400px;
display: flex;
width: 100% ;
align-items: flex-start;
background-image: url(../img/brasil.jpg);background-size: cover; 
background-color: rgba(0, 0, 0, .35); 
background-blend-mode: multiply; 
background-attachment: fixed;
 }

 .parallax span{ font-size: 3em; color: #fff;

 }

 /*------------------------NOSSA HISTORIA------------------*/

.nossahistoria .img-row-1 
{ width: 100%;}
.nossahistoria div figure
{
width: 33.3%;
height: 300px;
overflow: hidden;
}
.nossahistoria div figure:hover { 
    -webkit-transform: rotate(0) scale(1); 
    transform: rotate(0) scale(1)}
    
.nossahistoria div img {
    height: 330px;
    width: 100%;
    -webkit-transform: rotate(0deg);
    scale: (1.4);
    transform: rotate(0deg);
    scale:(1.4); 
    -webkit-transition: .3s ease-in-out; 
    transition: .3s ease-in-out;
}
.nossahistoria div {
   
    justify-content: center;
    background: #000;
    color: #fff;
    display: flex; flex-direction: row;
}

footer {
width: 100%;
background: #000;
color: #fff;
height: 80px;
display: flex;
justify-content: center;
align-items: center;
font-family: sans-serif;
}

@media screen and (max-width: 734px) {
  
.cards { flex-wrap: wrap;}
.cards div { width: 90%; margin: 5px 0;}
.parallax span { text-align: center;}
.nossahistoria div { flex-wrap: wrap; display: flex; justify-content: center;}
.nossahistoria div figure { width: 90%; justify-content: center;}


  }